Source: gputop
Section: devel
Priority: optional
Maintainer: Toradex Packaging Team <debian-pkg-team@toradex.com>
Uploaders: Abdur Rehman <abdur.rehman@toradex.com>,
           Carlos Henrique Lima Melara <carlos.melara@toradex.com>,
           Leonardo Held <leonardo.held@toradex.com>
Build-Depends: debhelper-compat (= 13), cmake, libgpuperfcnt
Standards-Version: 4.6.2
Homepage: https://github.com/nxp-imx/imx-gputop
Rules-Requires-Root: no

Package: gputop
Architecture: arm64
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, libgpuperfcnt
Pre-Depends: ${misc:Pre-Depends}
Description: gputop is an example application using libgpuperfnct library
